@model AddArtistViewModel
@{
    ViewData["Title"] = "CreateArtist";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-12">
                    <!-- general form elements -->
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">ثبت خواننده</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="CreateArtist" asp-controller="Music" enctype="multipart/form-data" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">نام خواننده</label>
                                    <input type="text" asp-for="ArtistName" class="form-control" placeholder="نام خواننده را وارد کنید">
                                    <span style="color:red" asp-validation-for="ArtistName"></span>
                                </div>
                                <div class="form-group">
                                    <label>کاور هنرمند:</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-image"></i></span>
                                        </div>
                                        <input asp-for="ArtistCover" name="ArtistCover" id="ImageCover" type="file" class="form-control"><br />

                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <button style="display:none" id="ShowImg" class="btn btn-success">نمایش عکس</button>
                                    </div>
                                    <div class="col-2">
                                        <button style="display:none" id="DeleteImg" class="btn btn-danger">حذف عکس</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">بیوگرافی</label>
                                    @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="پسورد را وارد کنید">*@
                                    <textarea class="form-control" asp-for="Biography"></textarea>
                                </div>
                                @*<div class="form-group">
                                        <input type="text" style="direction: ltr !important" asp-for="InstagramId" class="form-control" placeholder="Instagram ID">
                                        <div class="input-group-append">
                                            <span class="input-group-text">.۰۰</span>
                                        </div>
                                        <span style="color:red;" asp-validation-for="InstagramId"></span>
                                    </div>*@

                                <div class="col-2">
                                    <a><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 15C0 6.71573 6.71573 0 15 0C23.2843 0 30 6.71573 30 15C30 23.2843 23.2843 30 15 30C6.71573 30 0 23.2843 0 15Z" fill="black" /><mask x="0" y="0" width="30" height="30"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 15C0 6.71573 6.71573 0 15 0C23.2843 0 30 6.71573 30 15C30 23.2843 23.2843 30 15 30C6.71573 30 0 23.2843 0 15Z" fill="white" /></mask><path fill-rule="evenodd" clip-rule="evenodd" d="M15.0007 7C12.8281 7 12.5554 7.0095 11.702 7.04833C10.8504 7.08733 10.269 7.22217 9.76036 7.42C9.23419 7.62434 8.78785 7.89768 8.34318 8.34251C7.89818 8.78719 7.62484 9.23352 7.41984 9.75953C7.2215 10.2684 7.0865 10.8499 7.04817 11.7012C7.01 12.5546 7 12.8274 7 15.0001C7 17.1728 7.00967 17.4446 7.04833 18.298C7.0875 19.1496 7.22234 19.731 7.42 20.2396C7.62451 20.7658 7.89784 21.2121 8.34268 21.6568C8.78719 22.1018 9.23352 22.3758 9.75936 22.5802C10.2684 22.778 10.8499 22.9128 11.7014 22.9518C12.5547 22.9907 12.8272 23.0002 14.9997 23.0002C17.1726 23.0002 17.4444 22.9907 18.2978 22.9518C19.1495 22.9128 19.7315 22.778 20.2405 22.5802C20.7665 22.3758 21.2121 22.1018 21.6567 21.6568C22.1017 21.2121 22.375 20.7658 22.58 20.2398C22.7767 19.731 22.9117 19.1495 22.9517 18.2981C22.99 17.4448 23 17.1728 23 15.0001C23 12.8274 22.99 12.5547 22.9517 11.7014C22.9117 10.8497 22.7767 10.2684 22.58 9.7597C22.375 9.23352 22.1017 8.78719 21.6567 8.34251C21.2116 7.89751 20.7666 7.62417 20.24 7.42C19.73 7.22217 19.1483 7.08733 18.2966 7.04833C17.4433 7.0095 17.1716 7 14.9983 7H15.0007ZM14.2831 8.4417C14.4225 8.44148 14.5724 8.44155 14.7341 8.44162L15.0008 8.4417C17.1368 8.4417 17.39 8.44936 18.2335 8.4877C19.0135 8.52337 19.4368 8.6537 19.7188 8.7632C20.0922 8.9082 20.3583 9.08154 20.6382 9.36154C20.9182 9.64154 21.0915 9.90821 21.2368 10.2815C21.3463 10.5632 21.4769 10.9866 21.5124 11.7666C21.5507 12.6099 21.559 12.8632 21.559 14.9983C21.559 17.1333 21.5507 17.3866 21.5124 18.23C21.4767 19.01 21.3463 19.4333 21.2368 19.715C21.0918 20.0883 20.9182 20.3542 20.6382 20.634C20.3582 20.914 20.0923 21.0873 19.7188 21.2323C19.4372 21.3423 19.0135 21.4723 18.2335 21.508C17.3901 21.5463 17.1368 21.5547 15.0008 21.5547C12.8646 21.5547 12.6114 21.5463 11.7681 21.508C10.9881 21.472 10.5647 21.3417 10.2826 21.2322C9.90923 21.0872 9.64256 20.9138 9.36256 20.6338C9.08256 20.3538 8.90922 20.0878 8.76389 19.7143C8.65438 19.4326 8.52388 19.0093 8.48838 18.2293C8.45005 17.386 8.44238 17.1326 8.44238 14.9963C8.44238 12.8599 8.45005 12.6079 8.48838 11.7646C8.52405 10.9846 8.65438 10.5612 8.76389 10.2792C8.90889 9.90588 9.08256 9.63921 9.36256 9.35921C9.64256 9.0792 9.90923 8.90587 10.2826 8.76053C10.5646 8.65053 10.9881 8.52053 11.7681 8.4847C12.5061 8.45136 12.7921 8.44136 14.2831 8.4397V8.4417ZM18.3112 10.7295C18.3112 10.1994 18.7412 9.76987 19.2712 9.76987V9.76953C19.8012 9.76953 20.2312 10.1995 20.2312 10.7295C20.2312 11.2595 19.8012 11.6896 19.2712 11.6896C18.7412 11.6896 18.3112 11.2595 18.3112 10.7295ZM15.0008 10.8916C12.7321 10.8917 10.8926 12.7312 10.8926 15C10.8926 17.2688 12.7322 19.1075 15.001 19.1075C17.2699 19.1075 19.1087 17.2688 19.1087 15C19.1087 12.7311 17.2697 10.8916 15.0008 10.8916ZM17.6677 14.9999C17.6677 13.5271 16.4737 12.3333 15.001 12.3333C13.5281 12.3333 12.3343 13.5271 12.3343 14.9999C12.3343 16.4726 13.5281 17.6666 15.001 17.6666C16.4737 17.6666 17.6677 16.4726 17.6677 14.9999Z" fill="white" /></svg></a>
                                    <input id="ValidateId" type="text" style="direction: ltr !important" asp-for="InstagramId" class="form-control" placeholder="Instagram ID">

                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" id="btnSendData" class="btn btn-success">ثبت</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                    <!-- Form Element sizes -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>
<script>
    $(() => {

        $(ShowImg).click(function (event) {
            event.preventDefault();
            let img = $(ImageCover).attr('Base64');
            SwalToShowImage(img)
        })
        $(DeleteImg).click(function (event) {
            event.preventDefault();
            $(ImageCover).val('');
            $(ShowImg).css('display', 'none')
            $(DeleteImg).css('display', 'none')
        })
        $(ImageCover).change(function (event) {
            const Size = event.target.files[0].size;
            const Extention = event.target.files[0].name.split('.')[1];
            const Img = event.target.files[0]
            let SizeImg = bytesToSize(Size).split(' ');

            if (Extention.toLowerCase() == 'jpg' || Extention.toLowerCase() == 'png') {

                if (SizeImg[1] == 'MB' && SizeImg[0] <= 2 || SizeImg[1] == 'KB') {
                    let Reader = new FileReader();
                    Reader.readAsDataURL(Img)
                    Reader.onloadend = z => {
                        SwalToShowImage(z.target.result)
                        //document.getElementById(ImageCover).setAttribute('Base64',z.target.result)
                        $(ImageCover).attr('Base64', z.target.result)
                        $(ShowImg).css('display', 'block')
                        $(DeleteImg).css('display', 'block')
                    }


                } else {
                    swal.fire({
                        title: "پیام",
                        text: "حجم عکس باید از 2 مگ کمتر باشد",
                        icon: "error",
                        button: "باشه",
                        timer: 3000
                    })
                    $(this).val('');
                    $(ShowImg).css('display', 'none')
                    $(DeleteImg).css('display', 'none')

                    return false;
                }

            } else {
                swal.fire({
                    title: "پیام",
                    text: "فرمت فایل مناسب نمی باشد",
                    icon: "error",
                    button: "باشه",
                    timer: 3000
                })
                $(this).val('');
                $(ShowImg).css('display', 'none')
                $(DeleteImg).css('display', 'none')
                return false;
            }
        })
    })
    const units = ['bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
    function niceBytes(x) {

        let l = 0, n = parseInt(x, 10) || 0;

        while (n >= 1024 && ++l) {
            n = n / 1024;
        }

        return (n.toFixed(n < 10 && l > 0 ? 1 : 0) + ' ' + units[l]);
    }
    function bytesToSize(bytes) {
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes == 0) return '0 Byte';
        var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
        return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
    }
    function SwalToShowImage(ImgUrl) {
        swal.fire({
            title: 'عکس انتخابی',
            button: 'باشه',
            imageUrl: ImgUrl,
            imageWidth: 400,
            imageHeight: 200,
        })
    }
</script>
<script>
    $(() => {
        let flagValidation = false;
        $("#ValidateId").change(function (event) {
            let char = event.target.value.toString().charAt(0)
            if (char != '@@') {
                swal.fire({
                    title: 'پیغام',
                    icon: 'error',
                    text: `به آیدی @@ اضافه کنید`,
                    button: 'باشه',
                })
                flagValidation = false;
            } else {
                flagValidation = true;
            }
        })
        $("#btnSendData").click(function (event) {

            if (flagValidation == false) {
                event.preventDefault();
                swal.fire({
                    title: 'پیغام',
                    icon: 'error',
                    text: `به آیدی @@ اضافه کنید`,
                    button: 'باشه',
                })
            }

        })

    })
</script>