
@{
    ViewData["Title"] = "ArtistsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Artists = ViewData["Artists"] as IEnumerable<Artist>;
}

<div class="container-fluid" data-select2-id="12">
    <!-- artists -->
    <div class="row row--grid">
        <!-- breadcrumb -->
        <div class="col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb__item"><a href="/home/index">صفحه اصلی</a></li>
                <li class="breadcrumb__item breadcrumb__item--active">هنرمندان</li>
            </ul>
        </div>
        <!-- end breadcrumb -->
        <!-- title -->
        <div class="col-12">
            <div class="main__title main__title--page">
                <h1>هنرمندان</h1>
            </div>
        </div>
        <!-- end title -->
    </div>

    <div class="row row--grid" data-select2-id="11">
        <div class="col-12" data-select2-id="10">
            <div class="main__filter" data-select2-id="9">
                <form action="#" class="main__filter-search">
                    <input type="text" id="myInput" onkeyup="Search()" placeholder="جست و جو ...">
                </form>
                <div class="main__filter-wrap" data-select2-id="8" style="visibility:hidden">
                    <select class="main__select select2-hidden-accessible" name="genres" data-select2-id="1" tabindex="-1" aria-hidden="true">
                        <option value="all" data-select2-id="3">همه هنرمندان</option>
                        <option value="legacy" data-select2-id="28">آثار هنرمندان</option>
                        <option value="active" data-select2-id="29">هنرمندان فعال</option>
                    </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="2" style="width: 94px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-genres-0x-container"><span class="select2-selection__rendered" id="select2-genres-0x-container" role="textbox" aria-readonly="true" title="همه هنرمندان">همه هنرمندان</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>

                    <select class="main__select select2-hidden-accessible" name="years" data-select2-id="4" tabindex="-1" aria-hidden="true">
                        <option value="All genres" data-select2-id="6">همه سبک ها</option>
                        <option value="1" data-select2-id="16">الترناتیو</option>
                        <option value="2" data-select2-id="17">بلوز</option>
                        <option value="3" data-select2-id="18">کلاسیکال</option>
                        <option value="4" data-select2-id="19">کشوری</option>
                        <option value="5" data-select2-id="20">الکترونیک</option>
                        <option value="6" data-select2-id="21">هیپ هاپ</option>
                        <option value="7" data-select2-id="22">هندی</option>
                        <option value="8" data-select2-id="23">جاز</option>
                        <option value="8" data-select2-id="24">لاتینو</option>
                        <option value="8" data-select2-id="25">سول</option>
                        <option value="8" data-select2-id="26">راک</option>
                    </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="5" style="width: 86px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-years-si-container"><span class="select2-selection__rendered" id="select2-years-si-container" role="textbox" aria-readonly="true" title="همه سبک ها">همه سبک ها</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                </div>

                <div class="slider-radio">
                    <input type="radio" name="grade" id="popular"><label for="popular">محبوب</label>
                    <input type="radio" name="grade" id="All"><label for="All">همه</label>
                    <input type="radio" name="grade" onclick="newestArtist()" id="newest"><label for="newest">جدیدترین</label>
                    <div class="sliding-piece" style="position: absolute; transition: width 0.2s ease 0s, height 0.2s ease 0s, top 0.2s ease 0s, left 0.2s ease 0s; opacity: 0; left: 195px; top: 5px; width: 55.9062px; height: 30px;"></div>
                </div>
            </div>
            <div class="row row--grid" id="DivArtist">
                @foreach (var item in Artists)
                {

                    var ImgPath = item.ImagePath;

                    <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                        <a href="@Url.Action("ArtistPage","Music")/@item.id" class="artist">
                            <div class="artist__cover">
                                @if (ImgPath != null)
                                {
                                    <img src="~/ArtistFile/@ImgPath" alt="">
                                }
                                else
                                {
                                    <img src="~/Template/img/artists/artist1.jpg" alt="">
                                }
                            </div>
                            <h3 class="artist__title">@item.ArtistName</h3>
                        </a>
                    </div>
                }
            </div>

        </div>
    </div>
</div>


@*serach JS*@
<script>
    function Search() {
        var input, filter, DivParent, h3, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        DivParent = document.getElementById("DivArtist");
        h3 = DivParent.getElementsByTagName("h3");
        for (i = 0; i < h3.length; i++) {
            a = h3[i];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                h3[i].parentElement.parentElement.style.display = "";
            } else {
                h3[i].parentElement.parentElement.style.display = "none";
            }
        }
    }
</script>

@*//new Artist*@

<script>
        function newestArtist() {
            $.post("/Music/NewArtistFilter", {}, value => {
            console.log();
                $("#DivArtist").html("");
                value.forEach(z => {
                    var ImgPath = z.imagePath;
                    if (ImgPath != null) {
                        $("#DivArtist").append
                            (`
                      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                         <a href="@Url.Action("ArtistPage","Music")/${z.id}" class="artist">
                            <div class="artist__cover">
                                    <img src="/ArtistFile/${z.imagePath}" alt="">
                            </div>
                            <h3 class="artist__title">${z.artistName}</h3>
                        </a>
                    </div>

                         `)
                    } else {
                        $("#DivArtist").append
                            (`
                      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                         <a href="@Url.Action("ArtistPage","Music")/${z.id}" class="artist">
                            <div class="artist__cover">
                                      <img src="/Template/img/artists/artist1.jpg" alt="">
                            </div>
                            <h3 class="artist__title">${z.artistName}</h3>
                        </a>
                    </div>

                         `)
                    }
            })

        })
        }
</script>
